<!-- Pet Edit -->

<!-- Toolbar -->
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ui-sref='k9.pets' class="md-icon-button" aria-label="Go Back">
      <md-tooltip md-direction="bottom">Go back</md-tooltip>
      <ng-md-icon ng-click='vm.clickIconMorph()'
                  icon="{{vm.clickIcon}}"
                  options='{ "easing": "quad-in", "duration": 500 }'
                  size="24"></ng-md-icon>
    </md-button>
    <h2>
      <span>Pets</span>
    </h2>
    <span flex></span>
    <md-button type='button'
               class="md-icon-button"
               aria-label="Delete Pet"
               ng-click='vm.deletePet(vm.editedPet)'>
      <md-tooltip md-direction="bottom">
        Delete Pet
      </md-tooltip>
      <ng-md-icon icon="delete" size="24"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>

<!-- Main Content -->
<md-content flex id="content">

  <h1 class="md-display-1">
    Edit Pet
  </h1>

  <form role="form"
        name='update-pet-form' ng-submit='vm.updatePet(vm.editedPet)'>

    <!-- Name -->
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>Name</label>
        <input ng-model='vm.editedPet.name'
               ng-required="true"
               rm-focus>
        <div ng-show="update-pet-form.name.$dirty"
             ng-messages="update-pet-form.name.$error">
          <div ng-message="required">
            A name must be entered
          </div>
        </div>
      </md-input-container>
    </div>

    <!-- Actions -->
    <md-card-actions layout="row" layout-align="center center">
      <!-- Save -->
      <md-button type='submit'
                 md-no-ink
                 class="md-primary">Save Changes</md-button>

    </md-card-actions>

  </form>

</md-content>
