<!-- Activity Edit -->

<form role="form"
      name='update-activity-form'
      ng-submit='vm.updateActivity(vm.editedActivity)'>

  <!-- Toolbar -->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ui-sref='k9.activities' class="md-icon-button" aria-label="Go Back">
        <md-tooltip md-direction="bottom">Go back</md-tooltip>
        <ng-md-icon ng-click='vm.clickIconMorph()'
                    icon="{{vm.clickIcon}}"
                    options='{ "easing": "quad-in", "duration": 500 }'
                    size="24"></ng-md-icon>
      </md-button>
      <h2>
        <span>Edit Activity</span>
      </h2>
      <span flex></span>
      <md-button type='button'
                 class="md-icon-button"
                 aria-label="Delete Activity"
                 ng-click='vm.deleteActivity(vm.editedActivity)'>
        <md-tooltip md-direction="bottom">
          Delete Activity
        </md-tooltip>
        <ng-md-icon icon="delete" size="24"></ng-md-icon>
      </md-button>

      <!-- Save -->
      <md-button type='submit'
                 class="md-icon-button"
                 aria-label="Save Activity">
        <md-tooltip md-direction="bottom">
          Save Activity
        </md-tooltip>
        <ng-md-icon icon="done" size="24"></ng-md-icon>
      </md-button>

    </div>
  </md-toolbar>

  <!-- Main Content -->
  <md-content flex class='md-padding'>

    <!-- Description -->
    <div layout layout-xs="column">
      <md-input-container flex>
        <label>Description</label>
        <input ng-model='vm.editedActivity.description'
               ng-required="true"
               rm-focus>
        <div ng-show="update-activity-form.description.$dirty"
             ng-messages="update-activity-form.description.$error">
          <div ng-message="required">
            A description must be entered
          </div>
        </div>
      </md-input-container>
    </div>

  </md-content>
</form>
