<div>
  <k9-navbar creation-date="main.creationDate"></k9-navbar>
</div>

<!-- Client Edit -->
<div class="panel panel-info">
  <div class="panel-heading">Edit Client</div>
  <div class="panel-body">

    <form role="form" name='update-client-form' ng-submit='editClientCtrl.updateClient(editClientCtrl.editedClient)'>

      <!-- First Name -->
      <div class="form-group">
        <label class="control-label" for="clientFirstName">First Name</label>
        <input focus="true" ng-model='editClientCtrl.editedClient.first_name' type="text" class="form-control" id="clientFirstName" placeholder="Enter first name" value="{{ editClientCtrl.editedClient.first_name }}">
      </div>

      <!-- Last Name -->
      <div class="form-group">
        <label class="control-label" for="clientLastName">Last Name</label>
        <input ng-model='editClientCtrl.editedClient.last_name' type="text" class="form-control" id="clientLastName" placeholder="Enter Last name" {{ editClientCtrl.editedClient.last_name }}>
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
      <button type="button"
              class='btn btn-default'
              name="cancelClientUpdate" ng-click='editClientCtrl.cancelEditing()'>Cancel</button>
    </form>

  </div> <!-- end panel body -->
</div> <!-- end panel -->
