<!-- Client Edit -->

<form role="form"
      name='update-client-form' ng-submit='vm.updateClient(vm.editedClient)'>

  <!-- Toolbar -->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click='vm.viewClient(vm.editedClient)'
                 class="md-icon-button"
                 aria-label="Go Back">
        <md-tooltip md-direction="bottom">Go back</md-tooltip>
        <ng-md-icon icon="keyboard_backspace" size="24"></ng-md-icon>
      </md-button>
      <h2>
        <span>Clients</span>
      </h2>
      <span flex></span>

      <!-- Delete -->
      <md-button type='button'
                 class="md-icon-button"
                 aria-label="Delete Client"
                 ng-click='vm.deleteClient(vm.editedClient)'>
        <md-tooltip md-direction="bottom">
          Delete Client
        </md-tooltip>
        <ng-md-icon icon="delete" size="24"></ng-md-icon>
      </md-button>

      <!-- Save -->
      <md-button type='submit'
                 class="md-icon-button"
                 aria-label="Save Client">
        <md-tooltip md-direction="bottom">
          Save Client
        </md-tooltip>
        <ng-md-icon icon="done" size="24"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- Main Content -->
  <md-content flex class='md-padding'>

    <div layout layout-xs="row">

        <md-button
             ngf-select
             ng-model="picture"
             name="picture"
             ngf-pattern="'image/*'"
             ngf-accept="'image/*'"
             ngf-max-size="20MB"
             ngf-min-height="100"
             ngf-resize="{height: 150}">Upload Image</md-button>

      <md-button ng-click='upload(picture)'>Upload Photo</md-button>

      <img ngf-thumbnail="picture"
           height='150'>

    </div>

      <!-- First Name and Last Name -->
      <div layout layout-xs="column">
        <md-input-container flex>
          <label>First name</label>
          <input ng-model='vm.editedClient.first_name'
                 ng-required="true"
                 rm-focus>
          <div ng-show="update-client-form.firstName.$dirty"
               ng-messages="update-client-form.firstName.$error">
            <div ng-message="required">
              A first name must be entered
            </div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Last name</label>
          <input ng-model='vm.editedClient.last_name'
                 ng-required="true"
                 rm-focus>
          <div ng-show="update-client-form.lastName.$dirty"
               ng-messages="update-client-form.lastName.$error">
            <div ng-message="required">
              A last name must be entered
            </div>
          </div>
        </md-input-container>
      </div>

      <!-- Phone + Email -->
      <div layout layout-xs="column">
        <md-input-container flex>
          <label>Phone</label>
          <input ng-model='vm.editedClient.phone'>
        </md-input-container>
        <md-input-container flex>
          <label>Email</label>
          <input ng-model='vm.editedClient.email'>
        </md-input-container>
      </div>

      <!-- Address -->
      <div layout layout-xs="column">
        <md-input-container flex>
          <label>address</label>
          <textarea name="address"
                    ng-model="vm.editedClient.address"
                    md-maxlength="100"></textarea>
        </md-input-container>
      </div>

  </md-content>
</form>
