<!-- Client Edit -->
<md-button ui-sref='k9.clients'><i class="material-icons">keyboard_arrow_left</i></md-button>
<h1 class="md-display-1">
  Edit Client
</h1>

<form role="form"
      name='update-client-form' ng-submit='editClientCtrl.updateClient(editClientCtrl.editedClient)'>

  <!-- First Name and Last Name -->
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>First name</label>
      <input ng-model='editClientCtrl.editedClient.first_name'
             ng-required="true"
             rm-focus>
      <div ng-show="update-client-form.firstName.$dirty"
           ng-messages="update-client-form.firstName.$error">
        <div ng-message="required">
          A first name must be entered
        </div>
      </div>
    </md-input-container>
    <md-input-container flex>
      <label>Last name</label>
      <input ng-model='editClientCtrl.editedClient.last_name'
             ng-required="true"
             rm-focus>
      <div ng-show="update-client-form.lastName.$dirty"
           ng-messages="update-client-form.lastName.$error">
        <div ng-message="required">
          A last name must be entered
        </div>
      </div>
    </md-input-container>
  </div>

  <!-- Actions -->
  <md-card-actions layout="row" layout-align="center center">
    <!-- Save -->
    <md-button ng-click='update-client-form.submit()'
               md-no-ink class="md-primary">Update</md-button>

    <!-- Cancel -->
    <md-button ng-click='editClientCtrl.cancelEditing()'>Cancel</md-button>
  </md-card-actions>


</form>
