<!-- Clients -->

<!-- Toolbar -->
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu">
      <ng-md-icon icon="menu" size="24"></ng-md-icon>
    </md-button>
    <h2>
      <span>Clients</span>
    </h2>
  </div>
</md-toolbar>

<!-- Main Content -->
<md-content flex id="content">

  <div class="clients-list">

    <div class="top-search md-title">
      <label>Search:
        <input ng-model="clientSearchText" focus="true">
      </label>
    </div>

    <div ng-show='(clientCtrl.clients | filter:clientSearchText).length < 1'
         class="alert alert-info text-center"
         role="alert">
         <p>
           There are no clients yet. You can add your first client by
           clicking the Add Client button below.
         </p>
    </div>

    <div ng-hide='(clientCtrl.clients | filter:clientSearchText).length < 1'>

      <md-content class='search-results' flex layout-padding>
        <md-list-item ng-click="clientCtrl.editClient(client)"
                      ng-repeat="client in clientCtrl.clients | filter:clientSearchText">
            <ng-md-icon icon="face" size="24"></ng-md-icon>
            <p>
              {{ client.first_name }} {{ client.last_name }}
              <br>
              Dogs: {{ client.dogs.length }}
            </p>
            <ng-md-icon icon="chevron_right" size="24"></ng-md-icon>
          </md-list-item>
        </md-list>
      </md-content>

    </div> <!-- end client results -->
  </div> <!-- end clients list -->

</md-content>

<!-- Add New Client -->
<button class="md-fab md-fab-bottom-right md-button md-default-theme"
        ui-sref='k9.clients.create'
        aria-label="Add"
        tabindex="0">
  <ng-md-icon icon="person_add" size="24"></ng-md-icon>
  <md-tooltip>Add Client</md-tooltip>
</button>
