<!-- Clients -->
<div class="clients-list">

  <div ng-show='clientCtrl.clients.length < 1'
       class="alert alert-info text-center"
       role="alert">
       <p>
         There are no clients yet. You can add your first client by
         clicking the Add Client button below.
       </p>
  </div>

  <div ng-hide='clientCtrl.clients.length < 1'>

    <div class="top-search md-title">
      <label>Search:
        <input ng-model="clientSearchText" focus="true">
      </label>
    </div>

    <md-list-item ng-click="clientCtrl.editClient(client)"
                  ng-repeat="client in clientCtrl.clients | filter:clientSearchText">
        <i class="material-icons md-48 md-avatar">face</i>
        <p>
          {{ client.first_name }} {{ client.last_name }}
          <br>
          Dogs: {{ client.dogs.length }}
        </p>
        <i class="material-icons">chevron_right</i>
      </md-list-item>
    </md-list>

  </div> <!-- end client results -->
</div> <!-- end clients list -->

<!-- Add New Client -->

<button class="md-fab md-fab-bottom-right md-button md-default-theme"
        ui-sref='k9.clients.create'
        aria-label="Add"
        tabindex="0">
  <md-icon md-svg-icon="add"></md-icon>
  <md-tooltip>Add Client</md-tooltip>
</button>
