.k9-login{

  .loginForm{

    .inputdemoErrors .inputErrorsApp {
      min-height: 48px;
    }

    form{
      padding: 2em;
    }

    md-input-container{
      margin-bottom: 1.5em;
    }

  }
}

.page-login{
  .main-navigation{
    display:none !important;
  }

  .main-content{
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
  }
}
