<!-- Main Login -->

<!-- Toolbar -->
<md-toolbar>
  <div class="md-toolbar-tools">
    <span flex></span>
    <h2>
      <span>Dogzie</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>

<!-- Based on https://code.tutsplus.com/courses/hands-on-angular -->
<md-content flex id="content">

  <div class='loginForm' layout="column" ng-cloak>

    <md-content layout-padding>

      <md-card>

        <form ng-submit="vm.login(user)"
              novalidate
              name="loginForm">

          <!-- E-mail -->
          <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <ng-md-icon icon="email" size="20"></ng-md-icon>

            <input ng-model="user.email"
                   type="email"
                   name='email'
                   placeholder="Email"
                   ng-required="true"
                   rm-focus>
            <div ng-show="loginForm.email.$dirty"
                 ng-messages="loginForm.email.$error">
              <div ng-message="required">
                An e-mail address must be entered
              </div>
              <div ng-message="email">
                E-mail address is not valid
              </div>
              <div ng-message-exp="vm.wrongCredentials">
                WRONG DETAILS!
              </div>
            </div>
          </md-input-container>

          <!-- Password -->
          <md-input-container class="md-block">
            <ng-md-icon icon="lock" size="20"></ng-md-icon>
            <input type="password"
                   name="password"
                   placeholder="Password"
                   ng-model="user.password"
                   required />

           <div ng-show="loginForm.password.$dirty"
                ng-messages="loginForm.password.$error">
             <div ng-message="required">
               Password is required
             </div>
           </div>

          </md-input-container>

          <!-- Sign In -->
          <div ng-show="vm.wrongCredentials">
            The email and password you entered don't match.
          </div>

          <md-card-actions layout="row" layout-align="center center">
            <md-button ng-disabled="loginForm.$invalid || vm.isSigningIn()"
                       ng-click='vm.login(user)'>{{ vm.getSubmitMessage() }}</md-button>
          </md-card-actions>

        </form>
      </md-card>

    </md-content>
  </div>
</md-content>
