.k9-login{

  .alt-action{
    background: #FAFAFA;
    padding: 1em 0.5em 1em 1em;
    text-align: right;
    border-radius: 20px 0 0 0;
    position: absolute;
    right: 1em;
    bottom: 1em;
    border: solid 2px #DDD;

    a{
      text-decoration: none;
      color: #909090
    }
    a:hover{
      color: #2196F3
    }
  }

  .loginForm{

    .inputdemoErrors .inputErrorsApp {
      min-height: 48px;
    }

    form{
      padding: 2em;
    }

    md-input-container{
      margin-bottom: 1.5em;
    }

    @media (max-width: 320px) {
      md-card-actions{
        margin-bottom: 2em;
      }
    }

  }
}

.page-login{
  .main-navigation{
    display:none !important;
  }

  .main-content{
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
  }
}
