<!-- Main Login -->

<!-- Toolbar -->
<md-toolbar class='k9-login'>
  <div class="md-toolbar-tools">
    <span flex></span>
    <h2>
      <span class='title'>GroomK9</span>
      <ng-md-icon class='siteicon' icon="paw" size="12"></ng-md-icon>
      <span class='com'>com</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>

<!-- Based on https://code.tutsplus.com/courses/hands-on-angular -->
<md-content flex class='k9-login main-content'>

  <div class='loginForm' layout="column" ng-cloak>

    <md-content layout-padding>

      <md-card>

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Sign In Form</span>
          </md-card-title-text>
        </md-card-title>

        <form ng-submit="vm.login(user)" novalidate name="loginForm">

          <!-- E-mail -->
          <md-input-container md-no-float class="md-block">
            <label>E-mail</label>
            <md-icon
              md-svg-src="app/assets/img/icons/ic_email_24px.svg"
              style="display:inline-block;"></md-icon>

            <input
              ng-model="user.email"
              type="email"
              name='email'
              ng-required="true"
              rm-focus>
            <div ng-show="loginForm.email.$dirty" ng-messages="loginForm.email.$error">
              <div ng-message="required">
                An e-mail address must be entered
              </div>
              <div ng-message="email">
                E-mail address is not valid
              </div>
              <div ng-message-exp="vm.wrongCredentials">
                WRONG DETAILS!
              </div>
            </div>
          </md-input-container>

          <!-- Password -->
          <md-input-container md-no-float class="md-block">
            <label>Password</label>
            <md-icon
              md-svg-src="app/assets/img/icons/ic_lock_24px.svg"
              style="display:inline-block;"></md-icon>
            <input type="password" name="password" ng-model="user.password" required/>

            <div
              ng-show="loginForm.password.$dirty"
              ng-messages="loginForm.password.$error">
              <div ng-message="required">
                Password is required
              </div>
            </div>

          </md-input-container>

          <!-- Sign In -->
          <div ng-show="vm.wrongCredentials">
            The email and password you entered don't match.
          </div>

          <md-card-actions layout="column" layout-align="center center">
            <md-button
              flex
              ng-disabled="loginForm.$invalid || vm.isSigningIn()"
              ng-click='vm.login(user)'
              class="md-raised md-primary">{{ vm.getSubmitMessage() }}</md-button>
          </md-card-actions>

          <div class="alt-action">
            <a flex ui-sref='k9.register'>Create New Account</a>
          </div>

        </form>
      </md-card>

    </md-content>
  </div>
</md-content>
