.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-sidenav ng-md-icon{
  margin-right: 0.3em;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: #C92D58; //#F9CC41;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}
