<!-- Primary Navigation -->

<md-toolbar class="k9-nav md-theme-indigo">
  <h1 class="md-toolbar-tools">
    <span class='title'>GroomK9</span>
    <ng-md-icon class='siteicon' icon="paw" size="12"></ng-md-icon>
    <span class='com'>com</span>
  </h1>
</md-toolbar>

<md-content class="k9-nav">

  <!-- Menu List -->
  <md-list>
    <md-list-item ng-repeat="menuItem in vm.menuItems">
        <md-button ui-sref="{{ menuItem.sref }}"
                   ng-click="vm.close()"
                   ng-class="{'selected' : vm.isSelected(menuItem) }">
          <ng-md-icon icon="{{ menuItem.icon }}" size="24"></ng-md-icon>
          {{ menuItem.title }}
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ng-click='vm.logout()'>
          <ng-md-icon icon="exit_to_app" size="24"></ng-md-icon>
          Sign Out
        </md-button>
    </md-list-item>
  </md-list>

</md-content>
