<!-- Primary Navigation -->
<md-toolbar class="md-whiteframe-z1">
  <h1>Menu</h1>
</md-toolbar>

<md-list>
  <md-list-item ng-repeat="menuItem in navCtrl.menuItems">
      <md-button ui-sref="{{ menuItem.sref }}" ng-class="{'selected' : navCtrl.isSelected(menuItem) }">
        <md-icon md-svg-icon="{{menuItem.avatar}}" class="avatar"></md-icon>
        {{ menuItem.title }}
      </md-button>
  </md-list-item>
  <md-list-item>
      <md-button ng-click='navCtrl.logout()'>
        <md-icon class="avatar"></md-icon>
        Sign Out
      </md-button>
  </md-list-item>
</md-list>
