<!-- Toolbar -->
<md-toolbar class='client-view'>
  <div class="md-toolbar-tools">
    <md-button ui-sref='k9.clients'
               class="md-icon-button"
               aria-label="Go Back">
      <md-tooltip md-direction="bottom">Go back</md-tooltip>
      <ng-md-icon icon="keyboard_backspace" size="24"></ng-md-icon>
    </md-button>
    <h2>
      <span>{{ vm.client.first_name }} {{ vm.client.last_name }}</span>
    </h2>
    <span flex></span>

    <!-- Edit -->
    <md-button type='submit'
               class="md-icon-button"
               aria-label="Edit Client"
               ng-click="vm.editClient(vm.client)">
      <md-tooltip md-direction="bottom">
        Edit Client
      </md-tooltip>
      <ng-md-icon icon="edit" size="24"></ng-md-icon>
    </md-button>

  </div>
</md-toolbar>

<div layout="row" layout-xs="column" class='client-view'>

  <!-- Main Client Details -->
  <md-card layout="column" flex='33' flex-xs='100'>

    <!-- Photo -->
    <div class="client-profile">

      <img ng-src="{{ vm.client.picture_thumb_cropped }}"
           class="md-card-image"
           alt="Profile Image"
           layout-padding>

      <div class='client-name'>
        <h3>{{ vm.client.first_name }} {{ vm.client.last_name }}</h3>
      </div>
    </div>

    <md-list class='contact-details'>
      <md-divider ng-show='vm.client.phone.length > 0'></md-divider>
      <md-list-item class="md-2-line" ng-show="vm.client.phone.length > 0">
        <ng-md-icon icon="phone" size="16" ng-class="md-avatar-icon"></ng-md-icon>
        <div class="md-list-item-text">
          <h3><a href="tel:{{ vm.client.phone }}">{{ vm.client.phone }}</a></h3>
          <p> home phone </p>
        </div>
      </md-list-item>
      <md-divider ng-show="vm.client.email.length > 0"></md-divider>
      <md-list-item class="md-2-line" ng-show="vm.client.email.length > 0">
        <ng-md-icon icon="email" size="16" ng-class="md-avatar-icon"></ng-md-icon>
        <div class="md-list-item-text">
          <h3><a href="mailto:{{ vm.client.email }}">{{ vm.client.email }}</a></h3>
          <p> e-mail </p>
        </div>
      </md-list-item>
      <md-divider ng-show="vm.client.address.length > 0"></md-divider>
      <md-list-item class="md-2-line" ng-show="vm.client.address.length > 0">
        <ng-md-icon icon="home" size="16" ng-class="md-avatar-icon"></ng-md-icon>
        <div class="md-list-item-text">
          <span>{{ vm.client.address }}</span>
          <p> address </p>
        </div>
      </md-list-item>
    </md-list>

  </md-card>

  <!--Right section (Tabs: Pets, Appointments, Photos)-->
  <md-card layout="column" flex="66" flex-xs='100'>

    <md-content ng-cloak>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Pets ({{ vm.client.dogs.length }})">
          <md-content>

            <div class="pets-list">

              <div ng-show='(vm.client.dogs | filter:vm.petSearchText).length < 1'
                   class="alert alert-info text-center"
                   flex layout-padding
                   role="alert">
                   <p>
                     There are no pets yet. You can add your first pet by
                     clicking the Add Pet button below.
                   </p>
              </div>

              <div ng-hide='(vm.client.dogs | filter:vm.petSearchText).length < 1'>

                <md-content class='search-results' flex layout-padding>

                  <md-list-item class='pet-list'
                                ng-click="vm.editPet(pet)"
                                ng-repeat="pet in vm.client.dogs | filter:vm.petSearchText">


                      <img ng-src="{{ pet.photos[pet.photos.length - 1].thumbnail_menu }}"
                           class="thumb"
                           alt="{{ photo.title }}"
                           aria-label="{{ photo.title }}"
                           ng-show='pet.photos.length > 0'
                           layout-padding>

                      <div>
                        <h3>{{ pet.name }}</h3>
                        <ul class='pet-meta'>
                          <li ng-show='pet.breed.name.length > 0'>
                            <strong>Breed:</strong>
                            {{ pet.breed.name }}
                          </li>
                          <li>
                            <strong>Total Photos:</strong>
                            {{ pet.photos.length }}
                          </li>
                        </ul>
                      </div>

                    </md-list-item>
                  </md-list>
                </md-content>

              </div> <!-- end pet results -->
            </div> <!-- end pets list -->

            <!-- Add New Pet -->
            <button class="md-button md-default-theme"
                    aria-label="Add"
                    tabindex="0"
                    ng-click='vm.createPet(this)'>
              <ng-md-icon icon="add" size="24"></ng-md-icon>
              <md-tooltip>Add Pet</md-tooltip>
              Add Pet
            </button>

          </md-content>

        </md-tab>

        <!-- Appointments -->
        <md-tab label="Appointments ({{ vm.appointments.length }})">

          <md-content>
              <section>
                <md-subheader class="md-primary">Upcoming Appointments</md-subheader>
                <md-list layout-padding>
                  <md-list-item class="md-3-line"
                                ng-repeat="appointment in vm.appointments">

                      <ng-md-icon icon="schedule" class="md-avatar" size="28"></ng-md-icon>
                      <div class="md-list-item-text">
                        <h3>{{appointment.title}}</h3>
                        <h4>
                          {{appointment.dog.name}} -
                          {{ appointment.start_at |  date : 'MMM d' }}, 
                          {{ appointment.start_at |  date : 'hh:mm' }}
                        </h4>
                        <p>
                          {{appointment.activity.description}}
                        </p>
                      </div>

                  </md-list-item>
                </md-list>
              </section>

              <!-- Add New Pet -->
              <button class="md-button md-default-theme"
                      aria-label="Add"
                      tabindex="0"
                      ng-click='vm.addAppointment(this)'>
                <ng-md-icon icon="add" size="24"></ng-md-icon>
                <md-tooltip>Add Pet</md-tooltip>
                Add Appointment
              </button>

            </md-content>
        </md-tab> <!--end appointments-->

        <!-- Photos -->
        <md-tab label="Photos">

          <!-- No Images Warning -->
          <div ng-show='vm.client.dogs.length < 1'>
            <md-content class='layout-padding'>
               No pet images are currently available
            </md-content>
          </div>

          <div ng-repeat="dog in vm.client.dogs" class='md-padding'>

            <h4>
              <a ui-sref="k9.pets.edit({petID: dog.id})">{{dog.name}}</a>
            </h4>

            <md-content flex>

              <md-grid-list
                md-cols="1"
                md-cols-sm="2"
                md-cols-md="3"
                md-cols-gt-md="6"
                md-row-height-gt-md="1:1"
                md-row-height="4:3"
                md-gutter="8px"
                md-gutter-gt-sm="4px">

                <md-grid-tile
                  ng-repeat="photo in dog.photos"
                  md-rowspan="1"
                  md-colspan="1"
                  md-colspan-sm="1"
                  md-colspan-xs="1">

                  <img
                    ng-src="{{ photo.thumbnail_medium }}"
                    ng-click='vm.selectPhoto(photo)'
                    class="md-card-image"
                    alt="{{ photo.title }}"
                    aria-label="{{ photo.title }}"
                    layout-padding>

                  <md-grid-tile-footer>
                    <h3>{{ photo.title }}</h3>
                  </md-grid-tile-footer>

                </md-grid-tile>

              </md-grid-list>

            </md-content>
          </div>

        </md-tab><!--end photo tab-->

      </md-tabs> <!--end tabs-->

    </md-content> <!--end tabs content-->



  </md-card>

</div>
