<!-- Client Create -->
<h1 class="md-display-1">Add Client</h1>

<form role="form"
      name='add-client-form'
      ng-submit='createClientCtrl.createClient(newClient)'>

  <!-- First Name and Last Name -->
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>First name</label>
      <input ng-model='newClient.firstname'
             ng-required="true"
             rm-focus>
      <div ng-show="add-client-form.firstName.$dirty"
           ng-messages="add-client-form.firstName.$error">
        <div ng-message="required">
          A first name must be entered
        </div>
      </div>
    </md-input-container>
    <md-input-container flex>
      <label>Last name</label>
      <input ng-model='newClient.lastname'
             ng-required="true"
             rm-focus>
      <div ng-show="add-client-form.lastName.$dirty"
           ng-messages="add-client-form.lastName.$error">
        <div ng-message="required">
          A last name must be entered
        </div>
      </div>
    </md-input-container>
  </div>

  <!-- Save -->
  <md-button ng-click='add-client-form.submit()'
             md-no-ink class="md-primary">Save Client</md-button>

  <!-- Cancel -->
  <md-button ng-click='createClientCtrl.cancel()'>Cancel</md-button>

</form>
