<!-- Client Create -->

<form role="form"
      name='add-client-form'
      ng-submit='vm.createClient(newClient)'>

  <!-- Toolbar -->
  <md-toolbar>

    <!-- Cancel and go back -->
    <div class="md-toolbar-tools">
      <md-button ui-sref='k9.clients'
                 class="md-icon-button"
                 aria-label="Go Back">
        <md-tooltip md-direction="bottom">Go back</md-tooltip>
        <ng-md-icon icon="keyboard_backspace" size="24"></ng-md-icon>
      </md-button>

      <h2>
        <span>Clients</span>
      </h2>
      <span flex></span>

      <!-- Save Indicator -->
      <md-progress-circular  md-mode="indeterminate"
                             class="md-accent"
                             ng-show='vm.isSaving()'></md-progress-circular>

      <!-- Save -->
      <md-button type='submit'
                 class="md-icon-button"
                 aria-label="Save Client"
                 ng-hide='vm.isSaving()'>
        <md-tooltip md-direction="bottom">
          Save Client
        </md-tooltip>
        <ng-md-icon icon="done" size="24"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- Main Content -->
  <md-content flex class='md-padding'>

      <!-- First Name and Last Name -->
      <div layout layout-xs="column">
        <md-input-container flex>
          <label>First name</label>
          <input ng-model='newClient.firstname'
                 ng-required="true"
                 rm-focus>
          <div ng-show="add-client-form.firstName.$dirty"
               ng-messages="add-client-form.firstName.$error">
            <div ng-message="required">
              A first name must be entered
            </div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Last name</label>
          <input ng-model='newClient.lastname'
                 ng-required="true"
                 rm-focus>
          <div ng-show="add-client-form.lastName.$dirty"
               ng-messages="add-client-form.lastName.$error">
            <div ng-message="required">
              A last name must be entered
            </div>
          </div>
        </md-input-container>
      </div>

      <!-- Phone + Email -->
      <div layout layout-xs="column">
        <md-input-container flex>
          <label>Phone</label>
          <input ng-model='newClient.phone'>
        </md-input-container>
        <md-input-container flex>
          <label>Email</label>
          <input ng-model='newClient.email'>
        </md-input-container>
      </div>

      <!-- Address -->
      <div layout layout-xs="column">
        <md-input-container flex>
          <label>address</label>
          <textarea name="address"
                    ng-model="newClient.address"
                    md-maxlength="100"
                    places-auto-complete
                    size=80
                    placeholder="Type address..."
                    component-restrictions="{country:'ie'}"></textarea>
        </md-input-container>
      </div>

  </md-content>
</form>
