<!-- Dashboard -->

<!-- Toolbar -->
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="vm.toggleLeft()"
               class="md-icon-button"
               aria-label="Menu">
      <ng-md-icon icon="menu" size="24"></ng-md-icon>
    </md-button>
    <h2>
      <span>Dashboard</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="More">
      <ng-md-icon icon="more_vert" size="24"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>

<!-- Main Content -->
<md-content flex layout-padding>

  <!-- Calendar -->
  <div>
      <div ui-calendar="vm.calendar"  ng-model="vm.eventSources">
  </div>

</md-content>
