<!-- Dashboard -->

<!-- Toolbar -->
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="vm.toggleLeft()"
               hide-gt-md
               class="md-icon-button"
               aria-label="Menu">
      <ng-md-icon icon="menu" size="24"></ng-md-icon>
    </md-button>
    <h2>
      <span>Dashboard</span>
    </h2>
  </div>
</md-toolbar>

<!-- Load/Save Indicator -->
<div class="progress-linear-holder">
  <md-progress-linear md-mode="indeterminate"
                      ng-show="vm.isLoading() || isSaving()"
                      class="md-accent"
                      ></md-progress-linear>
</div>

<!-- Main Content -->
<md-content flex layout-padding>

  <!-- Calendar -->
  <div>
      <div ui-calendar="vm.calendar"  ng-model="vm.eventSources">
  </div>

  <div class='calendar-status'
       ng-show='vm.isLoading()'>Retrieving Latest Appointments . . . </div>

</md-content>
