<!-- Client Create -->

<md-dialog class='appointmentDialog' aria-label="Create Appointment"  ng-cloak>

  <form role="form"
        name='add-appointment-form'
        ng-submit='vm.createAppointment(newAppointment)'>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Appointment</h2>
        <span flex></span>
        <md-button class="md-icon-button"
                   ng-click="vm.createAppointmentCancel()">
          <md-icon aria-label="Close dialog"
                   md-svg-icon="close_white"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <!-- Title -->
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Title</label>
            <input ng-model='newAppointment.title'
                   ng-required="true"
                   rm-focus>
          </md-input-container>
        </div>

        <!--Date-->
        <div layout="row" layout-wrap>
          <md-datepicker ng-model="newAppointment.start"
                         ng-required="true"
                         md-placeholder="Date"></md-datepicker>
        </div>

        <!-- Appointment Time -->
        <div layout="row" layout-wrap>

          <md-input-container flex>
            <label>Time</label>
            <md-select ng-model="newAppointment.startTime"
                       ng-required="true"
                       aria-label="Appointment Start Time">
              <md-option ng-repeat="time in vm.bookingTimes">
                {{ time.name }}
              </md-option>
            </md-select>
          </md-input-container>

        </div>

      </div>

    </md-dialog-content>

    <!-- Buttons -->
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button type='submit'
                 md-no-ink class="md-primary">Save Appointment</md-button>
      <span flex></span>
    </md-dialog-actions>

  </form>
</md-dialog>
