.appointmentDialog{

  md-dialog-content{
    max-width:800px;
    max-height:810px;
  }

  md-dialog-content{
    width: 500px !important;
  }

}

form {
  md-datepicker {
    position: relative;
    left: -16px;

    .md-datepicker-input-container{
      margin-left: 0;
    }
    .md-datepicker-button.md-icon-button {
      margin-right: 0;
    }
  }
}
