<!-- Main Login -->

<!-- Toolbar -->
<md-toolbar class='k9-register'>
  <div class="md-toolbar-tools">
    <span flex></span>
    <h2>
      <span class='title'>GroomK9</span>
      <ng-md-icon class='siteicon' icon="paw" size="12"></ng-md-icon>
      <span class='com'>com</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>

<!-- Based on https://code.tutsplus.com/courses/hands-on-angular -->
<md-content class='main-content'>

  <md-card>

    <h2>Registration Form</h2>

    <form ng-submit="vm.register(user)"
          novalidate
          name="registerForm">

      <!-- E-mail -->
      <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <ng-md-icon icon="email" size="20"></ng-md-icon>

        <input ng-model="user.email"
               type="email"
               name='email'
               placeholder="Email"
               ng-required="true"
               rm-focus>
        <div ng-show="registerForm.email.$dirty"
             ng-messages="registerForm.email.$error">
          <div ng-message="required">
            An e-mail address must be entered
          </div>
          <div ng-message="email">
            E-mail address is not valid
          </div>
          <div ng-message-exp="vm.wrongCredentials">
            WRONG DETAILS!
          </div>
        </div>
      </md-input-container>

      <!-- Password -->
      <md-input-container class="md-block">
        <ng-md-icon icon="lock" size="20"></ng-md-icon>
        <input type="password"
               name="password"
               placeholder="Password"
               ng-model="user.password"
               required />

       <div ng-show="registerForm.password.$dirty"
            ng-messages="registerForm.password.$error">
         <div ng-message="required">
           Password is required
         </div>
       </div>

      </md-input-container>

      <div ng-show="vm.wrongCredentials">
        The email and password you entered don't match.
      </div>

      <!-- General Error Message + Help -->
      <div class="">
        {{vm.errorMessage}}
      </div>

      <!-- Register -->
      <md-card-actions layout="row" layout-align="center center">
        <md-button ng-disabled="registerForm.$invalid || vm.isRegistering()"
                   ng-click='vm.register(user)'
                   class="md-raised md-primary">{{ vm.getRegisterMessage() }}</md-button>
        <md-button ui-sref='k9.login'>Sign In To Existing Account</md-button>
      </md-card-actions>

    </form>
  </md-card>

</md-content>
