<!-- Social Media -->

<!-- Toolbar -->
<md-toolbar ng-show='!vm.searchActive'>
  <div class="md-toolbar-tools">
    <md-button ng-click="vm.toggleLeft()"
               hide-gt-md
               class="md-icon-button"
               aria-label="Menu">
      <ng-md-icon icon="menu" size="24"></ng-md-icon>
    </md-button>
    <h2>
      <span>Settings</span>
    </h2>
    <span flex></span>

  </div>
</md-toolbar>

<!-- Toolbar Search -->
<md-toolbar ng-show='vm.searchActive'>

  <div class="md-toolbar-tools">

    <!-- Back Button -->
    <md-button type='button'
               class="md-icon-button"
               ng-click='vm.toggleSearch(false)'
               aria-label="Back">
      <md-tooltip md-direction="bottom">
        Back
      </md-tooltip>
      <ng-md-icon icon="arrow_back" size="24"></ng-md-icon>
    </md-button>

    <!-- Title -->
    <h3 flex="10">
      Back
    </h3>

  </div>

</md-toolbar>

<!-- Main Content -->
<md-content flex id="content">

  <md-content ng-cloak>

    <md-tabs md-selected="vm.selectedTab" md-dynamic-height>
        <md-tab label="Breeds" ui-sref="k9.settings.breeds">
            <div ui-view="breeds" class='view-port-list'></div>
        </md-tab>
        <md-tab label="Activities" ui-sref="k9.settings.activities">
            <div ui-view="activities"></div>
        </md-tab>
    </md-tabs>

  </md-content> <!--end tabs content-->

</md-content>
